/*Kommentar för CSS*/
/*Ta bort extra utrymme i body*/

body {
    margin: 0;
}
/*Fotter i botten, alltid*/
main {
flex:1;
}

body{

    display:flex;
    min-height:100vh;
    flex-direction:column;
    font-family:Verdana;
}
/*Footer i botten slut*/
.my-class {
    color: green;
}

#my-id {
    color: red; 

}
.two.class {
    color:blue;

}
 header {
    background-color: rgb(98, 201, 196);
    padding: 20px;

 }
 header h1 {
    font-family: Verdana;
    font-size: 45px;
    margin: 0;
    margin-bottom: 10px;
 }
 header nav {
    margin-left: 2px;
 }
header nav a {
    display: inline-block;
    padding: 0 15px;
    color:rgb (0, 0, 0);
    text-decoration: none;
    font-weight: bold; 
}